

body {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.phone {
    width: 350px;
    height: 700px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.50);
}

/* Het inlogbox: velden + button */
.form-group {
    padding-bottom: 15px;
   
}

.form-group label {
    display: block;
    margin-bottom: 3px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 18px;
    box-sizing: border-box;
}

.button {
    width: 80%;
    margin: 10px auto;
}

.button-primary {
    background-color: black;
    color: white;
    text-align: center;
    border: none;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px; 
}